<div class="col-md-12" id="book">
  <table class="table table-bordered table-hover">

    <tr>
      <th>Service Type</th>
      <td><%= @service.service_type %></td>
    </tr>
    <tr>
      <th>Seeker ID</th>
      <td><%= @service.seeker_id %></td>
    </tr>
    <tr>
      <th>Helper ID</th>
      <td><%= @service.helper_id %></td>
    </tr>
    <tr>
      <th>Task Requested</th>
      <td><%= @service.task_list %></td>
    </tr>
    <tr>
      <th>Date Service Needed</th>
      <td><%= @service.date_when_seek_help%></td>
    </tr>
  </table>
</div>
