<div class="page-header">
  <%= link_to new_service_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Service
  <% end %>
  <h1>Listing services</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Initiated By</th>
        <th>Services Offered/Needed</th>
        <th>Seeker Id</th>
        <th>Helper Id</th>
        <th>Select Options</th>
      </tr>
    </thead>

    <tbody>
      <% @services.each do |service| %>
      <tr>
        <td><%= service.service_type %></td>
        <td><%= service.task_list %></td>
        <td><%= service.seeker_id %></td>
        <td><%= service.helper_id %></td>
        <td><%= link_to 'Show', service %>
        <%= link_to 'Edit', edit_service_path(service) %>
        <%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
