<%= form_for(@service, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @service.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h4>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<h5>Post or update a review below</h5>

  <div class = "col-md-12">
     <%= f.label :review_for_helper, class: "control-label" %>
      <%= f.text_area :review_for_helper,  class: "form-control" %>
  </div>
  <div class = "col-md-1">
     <%=f.label "Rating", class: "control-label"%>
     <%=f.select(:rating_for_helper,options_for_select([['1', 1],['2', 2],['3', 3],['4', 4],['5', 5]]),{include_blank: true})%>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-7">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>

  <!-- <td><%= link_to 'Submit', {:action => :review, :service_id => @service.id,:helper_id => service.helper_id},remote: true, class:"btn btn-sm btn-success" %></td> -->


<% end %>
