<div class="dashboard-container">
  <section="dashboard-profile">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="dashboard-avatar">
            <% @profiles.each do |profile| %>
                <%= image_tag profile.avatar_url(:display) %>
            <% end %>
          </div>
        </div>
      <div class="dashboard-profile-wrapper">
        <div class="col-md-6">
          <table class="table profile table-hover">
            <h3>Profile</h3>
            <% @profiles.each do |profile| %>
            <tbody>
              <tr>
                <th class="profile">Name</th>
                <td><%=profile.name%></td>
              </tr>
              <tr>
                <th class="profile">Contact</th>
                <td><%=profile.contact%></td>
              </tr>
              <tr>
                <th class="profile">Address</th>
                <td><%=profile.address%></td>
              </tr>
            </tbody>
          </table>
          <%= link_to 'Edit', edit_profile_path(profile), class:"btn btn-xs btn-success profile-edit" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  </section>

  <br />
  <section="dashboard-services-reviews">
  <div class="dashboard-reviews-wrapper">
    <div class="container-fluid">
      <div class="col-md-12">
        <table class="table services-reviews table-hover">
          <h3>Reviews</h3>
          <thead>
            <tr>
              <th>Service ID</th>
              <th>Service Date</th>
              <th>Helper ID</th>
              <th>Rating</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @review.each do |service| %>
            <tr>
              <td><%= service.id%></td>
              <td><%= service.date_when_seek_help %></td>
              <td><%= service.helper_id %></td>
              <td><%= service.rating_for_helper%></td>
              <td><%= link_to 'View', services_review_path(service.id), class:"btn btn-sm btn-info" %></td>
              <!-- <td><%= link_to 'Remove', service, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %></td> -->
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </section>
  <br />
  <section="dashboard-services-requested">
  <div class="dashboard-requests-wrapper">
    <div class="container-fluid">
      <div class="col-md-12">
        <table class="table services-requested table-hover">
          <h3>Services Requested</h3>
          <thead>
            <tr>
              <th>Types of Services Needed</th>
              <th>Date</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @services.each do |service| %>
            <tr>
              <td><%= service.task_list %></td>
              <td><%= service.date_when_seek_help %></td>
              <td><%= link_to 'Match', service, class:"btn btn-sm btn-info" %></td>
              <td><%= link_to 'Edit', edit_service_path(service), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to 'Remove', service, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </section>
  <section="dashboard-services-offered">
  <div class="dashboard-offers-wrapper">
    <div class="container-fluid">
      <div class="col-md-12">
        <table class="table services-offered table-hover">
          <h3>Services Offered</h3>
          <thead>
            <tr>
              <th>Types of Services Offered</th>
              <th>Date</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @services1.each do |service| %>
            <tr>
              <td><%= service.task_list %></td>
              <td><%= service.date_when_seek_help %></td>
              <td><%= link_to 'Edit', edit_service_path(service), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
