<div class="page-header">
  <h2><%=Time.now%></h2>


  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover">
      <h3>Profile</h3>
      <thead>
        <tr>
          <th>Avatar</th>
          <th>User ID</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Address</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @profiles.each do |profile| %>
          <tr>
            <td><%= image_tag profile.avatar_url(:display) %></td>
            <td><%= profile.user_id %></td>
            <td><%= profile.name %></td>
            <td><%= profile.contact %></td>
            <td><%= profile.address %></td>
            <td><%= link_to 'Show', profile,class:"btn btn-mini btn-info"%></td>
            <td><%= link_to 'Edit', edit_profile_path(profile),class:"btn btn-mini btn-success" %></td>
            <td><%= link_to 'Delete', profile, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-mini btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>



  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover">
      <h3>Services Requested</h3>
      <thead>
        <tr>
          <th>Service ID</th>
          <th>Types of Services Needed</th>
          <th>Date</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
            <tr>
            <td><%= service.id%></td>
            <td><%= service.task_list %></td>
            <td><%= service.date_when_seek_help %></td>
            <td><%= link_to 'Show', service, class:"btn btn-mini btn-info" %></td>
            <td><%= link_to 'Edit', edit_service_path(service), class:"btn btn-mini btn-success" %></td>
            <td><%= link_to 'Remove', service, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-mini btn-danger" %></td>
            </tr>
       <% end %>
      </tbody>
    </table>
   </div

   <div class="col-md-12">
     <table class="table table-striped table-bordered table-hover">
       <h3>Types of Services Offered</h3>
       <thead>
         <tr>
           <th>Service ID</th>
           <th>Services Offered</th>
           <th>Date</th>
           <th></th>
           <th></th>
           <th></th>
         </tr>
       </thead>
       <tbody>
         <% @services1.each do |service| %>
             <tr>
             <td><%= service.id%></td>
             <td><%= service.task_list %></td>
             <td><%= service.date_when_seek_help%></td>
             <td><%= link_to 'Show', service, class:"btn btn-mini btn-info" %></td>
             <td><%= link_to 'Edit', edit_service_path(service), class:"btn btn-mini btn-success" %></td>
             <td><%= link_to 'Remove', service, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-mini btn-danger" %></td>
             </tr>
        <% end %>
       </tbody>
     </table>
   </div>


  <div class="col-md-12 ">
    <table class= "table table-striped table-bordered table-hover">
      <h3>List of Reviews - testing in progress - </h3>
      <thead>
        <tr>
          <th>Service ID</th>
          <th>Task List</th>
          <th>Seeker ID</th>
          <th>Helper ID</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @test.each do |service| %>
          <tr>
            <td><%= service.id %></td>
            <td><%= service.task_list %></td>
            <td><%= service.seeker_id %></td>
            <td><%= service.helper_id %></td>
            <td><%= link_to 'Show', service, class:"btn btn-mini btn-info" %></td>
            <td><%= link_to 'Edit', edit_service_path(service), class:"btn btn-mini btn-success" %></td>
            <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-mini btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>




</div>
